PORT=4000
PGHOST=172.83.152.51
PGPORT=5432
PGDATABASE=dbautoguardian
PGUSER=dbautoguardian
PGPASSWORD=base2929
PGSSL=false
JWT_SECRET=cambia-esta-clave-super-segura
APP_BASE_URL=http://192.168.1.8:4000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=contacto.sumadev@gmail.com
SMTP_PASS=tu-app-password-sin-espacios
SMTP_FROM=Auto-Guardian <contacto.sumadev@gmail.com>
